<%@ tag import="java.util.Map"%>
<%@ tag import="java.util.List"%>
<%@ tag import="java.util.HashMap"%>
<%@ tag import="com.ceg.online.limn.helpers.QueryHelper"%>
<%@ attribute name="attributeName" type="java.lang.String" required="true"%>
<%
	List results = QueryHelper.executeGallerySQLQuery("select siteid, sitename from site_lu", null, 0, Integer.MAX_VALUE, 2);
	request.setAttribute(attributeName, results);
%>