@charset "UTF-8";
/* CSS Document */

/* old validation message styles */
.validation-advice, label.error {
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #FFF;
	font-weight: bold;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}

/* new jquery validate plugin styles */

label.error {
	display: block;
}