@charset "UTF-8";

#dragDropContainer{	/* Main container for this script */
    width: 725px;
	-moz-user-select:none;
	overflow: hidden;
}
#dragDropContainer ul{	/* General rules for all <ul> */
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:0px;
    padding:0px;
	overflow: hidden;
    /* height:520px; */ /* Added for FireFox*/
}

#dragDropContainer li,#dragContent li,li#indicateDestination{	/* Movable items, i.e. <LI> */
    list-style-type:none;
    background-color:white;
    border:1px solid #566F53;
    padding:5px;
    margin-bottom:2px;
    text-align:center;
    cursor:pointer;
    font-size:.8em;
    line-height:1.3em;
}

#dragDropContainer li p,#dragContent li p, li#indicateDestination p {
    padding:0; margin:0
}

li#indicateDestination{	/* Box indicating where content will be dropped  */
    border:1px dotted red;
    padding:2px;
}

#dragDropContainer ul li.correctAnswer{	/* Correctly moved item to lightbox */
    background-color:red;
    color:#FFF;
}
#dragDropContainer ul li.wrongAnswer{	/* Item moved to wrong box */
    background-color:#B3CFAF;
}
#dragDropContainer ul li.wrongAnswer img.vertical {height:50px;}
#dragDropContainer ul li.wrongAnswer img.horizontal {width:50px;}
#listOfItems ul li p.dimensions { /* Dimensions */
       padding-top:0;
}

#dragDropContainer ul li.wrongAnswer p.dimensions {display:none;} /* Hide dimensions from drag area */

/* LEFT COLUMN CSS */
div#listOfItems{	/* Left column "Images" */
    width: 565px;
    height: 600px;
    _height: 590px;
    float:left;
    padding:0; margin:0;
	position: relative;
}

#listOfItems ul{	/* Left(Sources) column <ul> ' This UL holds the pictures */
  width:546px;
  padding:0; margin:0;
}

.ie	#listOfItems ul{width:550px;}

#listOfItems ul li{	/* Left(Sources) column <ul>, This box contains the images */
    width:120px;
    height:170px;
    border:1px solid #ccc;
    margin:2px;
    float:left;
    font-size:.8em;
    overflow: hidden;
}

#listOfItems ul li p {       /* Title */
     margin:0;
     padding:3px 0 0;
     line-height:.95em;
}

#listOfItems a:link {
    text-decoration:none;
}

#listOfItems ul li a {	/* Left(Sources) column <ul> */
    text-decoration:none;
}

/*	div#listOfItems div{
    border:2px solid #999;
}*/
div#listOfItems div ul{	/* Left column <ul> */
    margin-left:0px;	/* Space at the left of list (images) */
}
#listOfItems div p{	/* Heading above left column */
    margin:0px;
    padding-left:1px;
/*		font-weight:bold;
background-color:#317082;
    color:#FFF;
*/		margin-bottom:5px;
}
/* END LEFT COLUMN CSS */

#dragDropContainer .mouseover{	/* Mouse over effect DIV box in right column */
    background-color:#80FF80
}

/* Start main container CSS (Lightbox) */
div#mainContainer{	/* Right column DIV */
    width:155px;
    float:left;
    padding:0; margin:0;
}

div#mainContainer div.status-icon-block { display: none;}

#mainContainer div {	/* Parent <div> of small boxes */
    width: 155px;
    float:left;
    margin:0;
    background-color:#D9FFD9;
}
#mainContainer div ul{
    margin-left:5px;
}
#mainContainer div ul img{
     /* display:none; */
}

#mainContainer div p.heading {	/* Heading above small boxes */
    margin:0px;
    padding:2px 3px;
    background-color:#009D00;
    color:white;
    margin-bottom:5px;
    text-align:center;
}

#mainContainer ul{	/* Small box in right column ,i.e <ul> */
    width:145px;
    border:0px;
    margin-bottom:0px;
    /* overflow:hidden; */
}

#dragContent{	/* Drag container */
    position:absolute;
    width:155px;
/*		height:15px;*/
    display:none;
    margin:0px;
    padding:0px;
    z-index:2000;
}


/* New added by Bert */
div#listOfItems img, div#mainContainer img {border:1px solid #6C6C6C;}
body.imagepopup img.vertical {height:110px;}
body.imagepopup img.horizontal {width:110px;}

#box1 .thumbnail-wrapper { width: 130px; background: transparent;}

body.imagepopup .thumbnail-wrapper { position: relative; display: inline; _display: inline-block; }
	body.imagepopup .thumbnail-wrapper .status-icon-block { position: absolute; bottom: 5px; right: 5px; }
	body.imagepopup .thumbnail-wrapper .status-icon { border: 1px #000 solid; !important; margin-right: 2px; }


html>body .imagepanel { background-color: white; height: 500px; padding:0; overflow: auto; display:block;}
* .imagepanel { background-color: white; height: 500px; padding:0; overflow-y: auto; margin-right: expression(this.scrollHeight > this.offsetHeight ? 16 : 4); }