@charset "UTF-8";
/* CSS Document */

form#agencyForm table.formtable > tbody > tr > td {padding-bottom:2em; }
form#agencyForm table.formtable td.label { width: 100px; }
form#agencyForm div.photoblock { width: 513px; padding:1em 1em 1em 1.5em; margin-top: 5px; background-color:#F4F4F4; border: 1px #cccccc solid;}
form#agencyForm div.photoblock a { color: #6e6e6e; font-size: .9em;}
form#agencyForm div.active:hover {background: #F4F4F4; cursor: default;}
form#agencyForm div.photoblock input.textfield { width: 360px; }

form#agencyForm .form-field-group { margin-top: .5em;}
    form#agencyForm .form-field-group a, form#agencyForm .form-field-group .license-status { margin-left: .5em; }
    form#agencyForm .form-field-group h3 { background: none; color: #000000; font-size: 1em; font-weight: bold; padding: .2em 0 .6em 0; }
    form#agencyForm .form-field-group input.textfield { margin-bottom: .5em; }
    form#agencyForm .form-field-group .license-status { font-size: .9em; font-weight: bold; color: #000000; }
    form#agencyForm .form-field-group .form-field-sub-group { display: block; float: left; margin-right: 1.7em; }
        form#agencyForm .form-field-group .form-field-sub-group input.radio { float: left; margin-right: .4em; }
        form#agencyForm .form-field-group .form-field-sub-group span { font-weight: bold; line-height: 1.5em; }
        form#agencyForm .form-field-group .form-field-sub-group .datepicker-block { float: left; }