/*
-----------------------------------------------
Admin Tool
Author:   Bert Chen, Royce Hsu
Version:  14 July 2006
----------------------------------------------- */

/* Global
----------------------------------------------- */
html {height:100%; width:100%}
body {
  margin:0;
  padding:0;
  background:#fff;
  font-family:Arial, Verdana, Helvetica, sans-serif;
  height:100%;
  font-size:12px;
  color:#000;
  }
a {color:#0063DC;}
a:hover {background-color:#0063DC; color:#fff; text-decoration:none;}
a.action-form-submit { cursor: pointer; }
form, p, h1, h2, h3, h4, h5, table, table td, ul, li {margin:0; padding:0;}
h1 {letter-spacing:-.06em; font-size:2em;}
h2 {letter-spacing:-.06em; font-size:1.7em;}
h3 {font-size:1.2em;}
h4 {letter-spacing:-.06em; font-size:1.1em;}
h5 {font-size:1em;}
td {vertical-align:top;}
input, select {vertical-align:middle; font-family:Arial, Verdana, Helvetica, sans-serif;}


/* Main Page - Grey background w/ white main body
----------------------------------------------- */
body.mainpage {background-color:#444444;}
body.mainpage div.mainbody {margin:0 2em; padding:1.2em 1.4em 2.5em; background-color:#fff; min-height:500px; min-width:750px}
* html body.mainpage div.mainbody {height:550px;}  /* "minimum" height only for IE 6 */
body.mainpage h1, body.mainpage h1 a {color:#fff;}
#motd{
	color:#818181;
	font-weight:normal;
	font-size:15px;
	border-bottom:1px solid #ccc;
	padding:0 0 5px 0;
	margin:0 0 15px 0;
	letter-spacing:0;
}
#uniqueness{
	color:#FF0000;
}
#fromerror{
	color:#FF0000;
}
#toerror{
	color:#FF0000;
}

div.clear {clear:both;}

/* h1 - Large page title in upper left corner */
h1 {padding:.5em 0 .5em;}
h1 a {text-decoration:none;}
h1 a:hover {background:none; text-decoration:underline;}

/* h2 - Title at top left of main body */
h2 {padding:0 0 .2em;}

/* h3 - Title at top of collection list */
h3 {padding:.2em .4em; color:#fff; background-color:#C0C0C0; font-weight:normal;}
h3.separator {padding:.1em .7em; font-size:.8em; letter-spacing:0;}


/* Header - Top gradient area
----------------------------------------------- */
div.head {background-color:#444444; padding:.7em 2em 0; margin:0; overflow: hidden;}
.ie div.head {height:84px;}
div.topstrip {height:6px; background:#196d85;}

div.header {display:block; width:auto; color:#fff; text-align:right; padding: .4em 2.3em; font-size: 12px; background-color: #222222;}
div.header a {color: #c6c6c6;}

/* Functions at upper right (log out) */
div.head_fns {float:right; color:#969696; margin:0; padding:0; clear:both}
div.head_fns a {color:#fff; margin:0 .25em;}

div#new_edition_container										{display:none;left:28px;padding:2px 0px 0px 0px;position:absolute;text-align:left;z-index:11;}
div#new_edition_container a#new_edition_indicator				{background-color:transparent;background-image:url('/limn/includes/images/sprite_maps/edition_selector_flags.gif');background-repeat:no-repeat;color:#fff;font-weight:bold;padding:0px 0px 0px 25px;text-decoration:none;text-transform:uppercase;}
div#new_edition_container a.us									{background-position:-5px -4px;}
div#new_edition_container a.au									{background-position:-5px -20px;}
div#new_edition_container a.ca									{background-position:-5px -36px;}
div#new_edition_container a.de									{background-position:-5px -52px;}
div#new_edition_container a.fr									{background-position:-5px -68px;}
div#new_edition_container a.it									{background-position:-5px -84px;}
div#new_edition_container a.uk									{background-position:-5px -100px;}
div#new_edition_container a#new_edition_indicator img			{border:none;}
div#new_edition_container ul#new_edition_selector				{background:url('/limn/includes/images/nav_gradient.jpg') 50%;border:1px solid #A9C5C6;display:none;font-size:11px;left:42px;list-style:none;position:absolute;top:0px;width:130px;z-index:10;}
div#new_edition_container ul#new_edition_selector li			{background-color:transparent;display:block;list-style-type:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
div#new_edition_container ul#new_edition_selector li a			{background-color:transparent;background-image:url('/limn/includes/images/sprite_maps/edition_selector_flags.gif');background-repeat:no-repeat;color:#666;display:block;margin:0px 0px 0px 0px;padding:4px 4px 3px 32px;text-decoration:none;}
div#new_edition_container ul#new_edition_selector li a:hover	{background-color:#E1EFF2;}
div#new_edition_container ul#new_edition_selector li.us a		{background-position:0px 0px;}
div#new_edition_container ul#new_edition_selector li.au a		{background-position:0px -16px;}
div#new_edition_container ul#new_edition_selector li.ca a		{background-position:0px -32px;}
div#new_edition_container ul#new_edition_selector li.de a		{background-position:0px -48px;}
div#new_edition_container ul#new_edition_selector li.fr a		{background-position:0px -64px;}
div#new_edition_container ul#new_edition_selector li.it a		{background-position:0px -80px;}
div#new_edition_container ul#new_edition_selector li.uk a		{background-position:0px -96px;}

#edition_container {position: relative; float: left; margin-right: 5px; *padding: 2px 0 0 0; text-align: left;}
#edition_container img {border: none;}
#edition_container a {color: #fff; text-decoration: none; text-transform: uppercase; font-weight: bold;}
#edition_selector {position: absolute; top: 14px; left: 0; list-style: none;}
.edition_selector {width: 130px; background: url(/limn/includes/images/nav_gradient.jpg) 50%; border: 1px solid #A9C5C6; font-size: 11px !important;}
.edition_selector a {display: block; padding: 4px; color: #666 !important; text-decoration: none !important;}
a.edition_us {padding-left: 32px !important; background: url(/limn/includes/images/flag_us.gif) 5px 50% no-repeat;}
a:hover.edition_us {background: #E1EFF2 url(/limn/includes/images/flag_us.gif) 5px 50% no-repeat;}
a.edition_de {padding-left: 32px !important; background: url(/limn/includes/images/flag_de.gif) 5px 50% no-repeat;}
a:hover.edition_de {background: #E1EFF2 url(/limn/includes/images/flag_de.gif) 5px 50% no-repeat;}
a.edition_it {padding-left: 32px !important; background: url(/limn/includes/images/flag_it.gif) 5px 50% no-repeat;}
a:hover.edition_it {background: #E1EFF2 url(/limn/includes/images/flag_it.gif) 5px 50% no-repeat;}
a.edition_fr {padding-left: 32px !important; background: url(/limn/includes/images/flag_fr.gif) 5px 50% no-repeat;}
a:hover.edition_fr {background: #E1EFF2 url(/limn/includes/images/flag_fr.gif) 5px 50% no-repeat;}
a.edition_ca {padding-left: 32px !important; background: url(/limn/includes/images/flag_ca.gif) 5px 50% no-repeat;}
a:hover.edition_ca {background: #E1EFF2 url(/limn/includes/images/flag_ca.gif) 5px 50% no-repeat;}
a.edition_uk {padding-left: 32px !important; background: url(/limn/includes/images/flag_uk.gif) 5px 50% no-repeat;}
a:hover.edition_uk {background: #E1EFF2 url(/limn/includes/images/flag_uk.gif) 5px 50% no-repeat;}
a.edition_au {padding-left: 32px !important; background: url(/limn/includes/images/flag_au.gif) 5px 50% no-repeat;}
a:hover.edition_au {background: #E1EFF2 url(/limn/includes/images/flag_au.gif) 5px 50% no-repeat;}

/* Tab Navigation */
ul.tabnav {margin:0; padding:0;}
ul.tabnav ul {float:left; margin:0; padding:0;}
ul.tabnav li {margin:0; padding:0; list-style:none; float:left; white-space:nowrap; color:#000; font-size:15px;}
ul.tabnav a {font-family:Lucida Sans Unicode, Lucida Grande; font-weight:normal; display:block; padding:3px 10px 4px; margin:0; font-size:1em; text-decoration:none;}
table.headtable {width:100%; margin:0; padding:0;} /* Needed to prevent IE render bugs*/
/* Active tabs */
ul.tabnav li.active {background:#efefef url(/limn/includes/images/largetab2_uplt.gif) top left repeat-x; margin-right:.5em; border-bottom:1px solid #3b3b3b;}
ul.tabnav li.active a {color:#EAEAEA;}
ul.tabnav li.active a:hover {text-decoration:underline; color:#fff; background-color:#424242;}
/* Current tab */
ul.tabnav li.current {background:#B4B4B4 url(/limn/includes/images/largetab_uplt.gif) top left repeat-x; margin-right:.5em; border-bottom:1px solid #fff;}
ul.tabnav li.current a {color:#000;}
ul.tabnav li.current a:hover {text-decoration:none; background:none;}
/* Right buttons - Smaller buttons to the right of tabs */
ul.rightfns ul, ul.rightfns li {float:right;}
ul.rightfns li a {margin:0 0 4px 4px; padding:1px 7px; color:#fff; background-color:#373737; font-size:.8em; border:1px solid #6C6C6C;}
ul.rightfns li a:hover {color:#82DEFD; background-color:#575757;}


/* Body Elements
----------------------------------------------- */
/* Table structure - defines page areas */
td.leftcol {}
td.rightcol {width:160px; padding-left:13px;}
body.editpage td.rightcol {width:30%;}
/* Adds space between */
td.articlecell {padding-top:18px;}

/* Page Subnavigation */
.pagesubnav {font-size:1.1em; margin:0 0 .5em; padding:0 0 .8em; font-family:Lucida Sans Unicode,Lucida Grande;}
* html .pagesubnav {height: 1%;}  /* Hides from IE5-mac \*/
.pagesubnav a {color:#424242; padding:3px 4px;}
.pagesubnav a:hover {color:#424242; background:#D5D5D5;}
.pagesubnav a.current {font-weight:bold; text-decoration:none; color:#000}
.pagesubnav a.current:hover {cursor:default; background:none; color:#000;}

/* Controls container - for UI controls at top or bottom of the page */
div.controls {padding:10px 0; text-align:center;}
/* Controls container - bottom of edit page */
body.editpage div.controls {border-top:1px solid #C0C0C0; padding:2em 0; margin-top:1em;}
body.editpage td.field div.controls {border-top:none; padding:1em 0; margin:0;}
/* Controls container - top of edit page */
body.editpage div.controlstop {border-top:none; border-bottom:1px solid #C0C0C0; margin:0 0 15px; padding:0 0 15px;}
/* Text prompt */
p.prompt {padding:1em .2em .5em;}

/* Feedback box - Rounded box for feedback messages */
dl {width: 500px; margin: 10px auto; background:url(/limn/includes/images/box_bottom.gif) no-repeat bottom left;}
dl dt {margin: 0; padding: 3px; background:url(/limn/includes/images/box_top.gif) no-repeat top left;}
dl dd {margin: 0; padding: 4px 0 8px; text-align:center; font-size:small;}
/* Colors */
.feedback_publish, .feedback_publish dt {background-color:#ccffda; color:#31512F} /* Green box for publish feedback */
.feedback_error, .feedback_error dt {background-color:#FFBDBD;} /* Red box for error feedback */
.feedback_general, .feedback_general dt {background-color:#E0E0E0;} /* Grey box for general messages */

/* Configuration box with settings */
td.configbar {}

div.configbar {padding:10px; margin:0 0 10px; background:#F4F4F4; border:#D5D5D5 1px solid; background-color:pink}
div.configbar table th {text-align:left; padding-bottom:1em;}
div.configbar table td {padding:.4em 0;}
div.configbar table td.label {padding-right:.3em;}
div.configbar table tr.topofgroup td {border-top:1px solid #ccc;}
div.configbar table td.field {white-space:nowrap;}


/* Content Table - table used to display lists of content
----------------------------------------------- */
table#episode_list {}
table#episode_list td {padding:7px .5em; color:#000; background-image: url(/limn/includes/images/dotted.gif); background-repeat: repeat-x; background-position: left bottom; font-size:1em;}
/* Table headings */
table#episode_list th {padding:.4em .5em .4em; border-bottom:1px solid #000; text-align:left;}
table#episode_list th a {padding-right:10px; color:#000;}
table#episode_list th a:hover {color:#fff;; background:#575757 url(/limn/includes/images/arrow_up_hi.png) right no-repeat;}
table#episode_list th.sorted a {color:#000; background:#fff url(/limn/includes/images/arrow_up.png) right no-repeat; }
table#episode_list th.sorted a:hover {color:#fff;; background:#575757 url(/limn/includes/images/arrow_down_hi.png) right no-repeat;}
table#episode_list th.sorteddesc a {color:#000; background:#fff url(/limn/includes/images/arrow_down.png) right no-repeat; }
table#episode_list th.sorteddesc a:hover {color:#fff;; background:#575757 url(/limn/includes/images/arrow_up_hi.png) right no-repeat;}
/* Collection title row */
table#episode_list th.title, table#episode_list td.section {border-bottom:none; padding:0; background:none;}
/* Cell formatting */
table#episode_list td.title {font-size:1.1em; line-height:1em;}
table#episode_list td.comments {text-align:center;}
table#episode_list td.recentdate {color:#000; white-space:nowrap; text-transform: lowercase;}
table#episode_list td.pastdate {color:#ABABAB; white-space:nowrap; text-transform: lowercase;}
table#episode_list td.expirationDate {color:#FF0000; white-space:nowrap; text-transform: lowercase;}
table#episode_list td.fns {text-align:right; color:#ccc; white-space:nowrap;}
/* Empty cell */
table#episode_list td.empty {text-align:center;}
table#episode_list td.empty p {padding:15px 0;}
div.panel table#episode_list td.empty {background:none;}
/* Row alternating colors */
.row_one {background-color:white;}
.row_two {background-color:#F6F6F6;}
.row_active {background-color:#e3f5e9;border-color: #b4dfc2;}
.row_expired {background-color:#f6e2e2;border-color: #cc0000;}

/* Row state formatting */
table#episode_list tr.draft td.title a {color:#ABABAB;}
table#episode_list tr.draft td.title a:hover {color:#fff; background-color:#ABABAB;}
table#episode_list tr.ready td.title a {color:#ABABAB;}
table#episode_list tr.hidden td.title a {color:#ABABAB;}
table#episode_list tr.incomplete td.title a {background-image:url('/limn/includes/images/bullet_error.png'); background-position:left; background-repeat:no-repeat; padding-left:16px;}
/* Bricks */
span.brick {font-size:.7em; padding:1px 2px; margin-left:3px; text-transform:uppercase; color:#fff;}
span.draft {background-color:gray;}
span.edited {background-color:#0063DC;}
span.published {background-color:#228B22;}
span.locked {background-color:#CCCC00;}
span.republished {background-color:#228B22;}
span.hidden {background-color:orange;}
span.expired {background-color:red;}
span.deleted {background-color:red;}
span.new {background-color:#575757;}
span.future {background-color:#FF33FF;}
/* Paging Controls - First, Prev, Next, Last */
div.paging {padding:8px 0; font-size:1.1em;}
div.paging a {padding:.3em; font-weight:bold;}
div.paging a.current {text-decoration:none; color:#000;}
div.paging a.first, div.paging a.last {font-weight:normal;}
div.paging a.prev {}
div.paging a.next {}

/*this is for adding the checkmark to active spots*/
span.active_spot {background-color:transparent;background-image:url('/limn/includes/images/checkmark.gif');background-repeat:no-repeat;padding:0 2em 0;}


div.right {text-align:right;}
div.left {text-align:left;}
div.center {text-align:center;}
span.capitalize {text-transform:capitalize;}
span.lowercase {text-transform:lowercase;}


/* List Controls - Contains Filter and Paging */
table.listcontrols {width:100%}
table.listcontrolstop {}
table.listcontrolsbottom {margin-top:1em;}


/* Drafts Area - scrolling div for drafts
----------------------------------------------- */
html>body .panel { border: solid 1px #575757; background-color: white; height: 235px; padding:0; overflow: auto; display:block;}
* .panel { border: solid 1px black; background-color: white; height: 235px; padding:0; overflow-y: auto; margin-right: expression(this.scrollHeight > this.offsetHeight ? 16 : 4); }

html>body .photoscroll { height: 250px;}
* .photoscroll { height: 250px;  }

#panel1 {position: relative; clear: both;}
#resizeHandle {display:block; position: absolute; bottom: 0; right: 0; background:transparent url(/limn/includes/js/tiny_mce/themes/advanced/img/icons.gif) repeat scroll -800px 0; width:20px; height:20px; cursor:se-resize}
#resizeHtmlOnTop {display:block; position:relative; bottom:22px; right:0; background:transparent url(/limn/includes/js/tiny_mce/themes/advanced/img/icons.gif) repeat scroll -800px 0; width:20px; height:20px; cursor:se-resize; float:right; right:11px;}

/* Remove underline */
div#panel1 th {border:none; padding-bottom:0;}


/* Buttons & Links
----------------------------------------------- */
/* ANCHOR LINK Buttons - Standard large button */
a.newbtn {
	padding:.3em .5em;
	margin-bottom:1.3em;
	text-align:left;
	border:1px solid #ccc;
	background:#424242 url(/limn/includes/images/largetab2_uplt.gif) center repeat-x;
	color:#fff;
	font-weight:bold;
	display:block;
	text-decoration:none;
	font-size:1.3em;
	letter-spacing:-.06em;
}
a.newbtn:hover {background:#000;}
/* Variable width button */
a.mediumbtn {display:inline; font-size:1.3em;}
a.smallbtn {display:inline;}
a.smallerbtn {display:inline; font-size:1.1em; line-height:1.7em;}
/* Publish button */
a.pubbtn {color:#fff; background:green;}
a.pubbtn:hover {color:#fff; background:#00C400}
/* Disabled button */
a.btndisabled {background:#ccc;}
a.btndisabled:hover {background:#ccc; cursor:default;}
/* Normal button (flat) */
a.btnnormal {background:#777777; font-weight:normal; margin-bottom:.1em;}

/* INPUT Buttons */
input.newbtn {
	width:auto; overflow:visible;
	background:#424242 url(/limn/includes/images/largetab2_uplt.gif) center repeat-x;
	color:#fff;
	font-weight:bold;
	font-size:1.3em;
	letter-spacing:-.06em;
	padding:4px 6px;
	border:1px solid #ccc;
}
input.newbtn:hover {background:#000;}
input.btnnormal {background:#777777; font-weight:normal}
input.pubbtn {background:green;}
input.pubbtn:hover {background:#00C400}
input.smallerbtn {display:inline; font-size:1em;}

/* Choose... button - choose image */
input.choose {font-family:Arial; font-size:11px; padding:0 1px; width:auto; overflow:visible;}
input.filebrowse {font-family:Arial; font-size:1em;}

/* Publish link */
a.publink {color:green;}
a.publink:hover {color:#fff; background:#00C400}
/* Delete [x] and Add [+] link */
a.deletelink {text-decoration:none;}
/* Delete [x] and Add [+] link */
a.disabledlink {text-decoration:none; color:#ccc;}
a.disabledlink:hover {background:none; color:#ccc; cursor:default;}
a.disabledlinkongraybackground {text-decoration:none; color:#FFF;}
a.disabledlinkongraybackground:hover {background:none; color:#FFF; cursor:default;}

/* Function links - reorder, add textblock, etc. */
div.fnlinks {padding:3px 0 7px}
div.fnlinks a {padding:3px 4px}
div.fnlinks a:hover {background-color:#575757;}

/* Links for photos */
a.photolink {}
a.deletephotolink {vertical-align:top; text-decoration:none; font-size:11px; margin-right: 5px;}

/* Date picker */
input.datepicker {width:100px}
img.datepicker, img.ui-datepicker-trigger {vertical-align:middle;}

/* Time picker */
input.timepicker {width:50px}

/* Footer styles
----------------------------------------------- */
div.foot {background-color:#444444; color:#6C6C6C; height:100px;}
div.foot td {padding-bottom:10px;}
/* Links */
div.foot a {color:#fff;}
div.foot a.homelink {color:#82DEFD; font-weight:normal; text-decoration:none; margin-right:13px}
div.foot a.homelink:hover {background:none; text-decoration:underline;}
/* New Footer */
select.jumpto {
	margin:0 0 0 10px;
	background-color:#EAEAEA;
	}
select.jumpto option {
	color:#000;
	text-indent:1em;
	}
select.jumpto option.title {
	color:#818181;
	text-indent:0;
	}
select.jumpto option.link, select.jumpto option.separator {
	color:#000;
	text-indent:0;
	}
span.timestamp {
	float:right;
}


/* REORDER PAGES: Sortable drag & drop additions
----------------------------------------------- */
ul.sortablelist {
    width: 100%;
    list-style-image:none;
    list-style-type:none;
    margin-top:5px;
    margin:0px;
    padding:0px;
}
ul.sortablelist li {
	width: 100%;
	border-bottom: 1px solid #ccc;
    padding:6px 0px;
	_padding: 4px 0px;
    margin:0px;
}
/* highlight new article */
ul.sortablelist li.new {background-color:#FFFF80; border-left:4px solid #ccc;}
ul.sortablelist li.new a.articlelink {font-weight:bold}
/* disable links */
ul.sortablelist li a.articlelink {cursor:default; text-decoration:none; color:#000; font-size:1.1em; float: left; }
ul.sortablelist li a.articlelink:hover {background:none;}
ul.sortablelist a.deletelink {float:right; margin-right:3px;}
/* draggable handle */
span.handle {color:#575757; border:1px solid #ccc; font-weight:bold; cursor:move; background-color:#FFFFDD; float:left; margin-right:10px; position:relative; }
span.handle:hover {cursor:move; postion:relative;}


/* EDIT PAGES: Styles for form editing
----------------------------------------------- */
/* autocomplete */
div.autocompleteChoices, div.autocompleteChoicesScroll { background-color:#fff; width:100%; max-height: 240px; _height: 240px !important; margin:0; padding:0; border: 1px solid #D5D5D5; z-index: 5; }
div.autocompleteChoices { overflow: hidden; }
div.autocompleteChoicesScroll { overflow: auto; }
div.autocompleteChoices ul, div.autocompleteChoicesScroll ul { list-style:none; padding:0; margin:0; }
div.autocompleteChoices ul li, div.autocompleteChoicesScroll ul li { padding:0 4px; margin:4px 0; }
.selected { background-color: #FFFFDD; }
/* tinyMCE editor adjustment styles */
.mceEditor td {background:#f9f9f9 !important; padding:1px 0 !important;}
.mceLayout {clear: both;}
div.textblock table.mceToolbar {width:auto !important;}

/* Add extra space after form fields */
body.editpage table.formtable {margin-bottom:2em;}

/* Right side: info box - yellow */
div.helpinfo {padding:1em; margin-bottom:1em; background-color:#FFFFDD; color:#575757; border:1px solid #D5D5D5}
div.helpinfo ul li {margin-bottom:.4em; list-style:none}
div.helpinfo span.brick {margin:0}
/* Right side: function links */
ul.editpagefns {list-style:none;}
ul.editpagefns li {padding:.5em 0;}
a.editpagefns {background-color:#575757; border:#D5D5D5 1px solid; color:#fff; padding:3px 5px; margin-right:5px; text-decoration:none; cursor:pointer;}
a.editpagefns:hover {background-color:#000;}
.configbar ul.links a:hover {background-color:#818181;}
/* Right side: data input categories */
div.categories {float:left; border:0; clear:both; width:100%}
div.categories div.choice {float:left; width:49%; font-size:11px;}
div.categories div.newsection {float:left; width:100%;}
div.categories div.newsection p {padding:2px 0 1px; font-weight:bold; background:#F0F0F0; margin:6px 0 2px;}
div.categories div.choice div.check {float:left; height:100%;}
div.categories h4 {border-top:1px solid #ccc; padding:1em 0 5px; margin-top:1em;}
div.categories h4 p {letter-spacing:0; font-weight:normal; font-size:11px;}
div.categories h4.top {margin-top:7px;}
div.categories div.fnlinks a {padding:0;}


/* Form table - standard form layout
----------------------------------------------- */
/* Row spacing */
table.formtable td.label, table.formtable td.field {padding-top:6px;}
/* Label formatting */
table.formtable td.label p {font-weight:bold; padding-right:.6em; padding-top:2px;} /* to line up standard textfield */
table.formtable p.label {padding-top:2px;} /* match text content in field */
.ie table.formtable p.label, .ie table.formtable td.label p {padding-top:4px;} /* adjust for ie */
/* New section row separator */
table.formtable tr.newsection td {padding-top:2.5em; background:url('/limn/includes/images/dotted.gif') top repeat-x; background-position:0 1em;}
table.formtable tr.newsection table td {padding-top:0; background:none;}
/* Inner table formatting */
table.formtable td.field td.label, table.formtable td.field td.field {padding-top:0; background:none;}
table.formtable td.field td.label p {font-weight:normal;}
table.formtable td.field tr.newsection td {padding-top:1em;}
table.formtable p.separator {padding-top:10px;}

/* Required fields */
span.req {color:orange; font-weight:bold; font-size:12px;}
tr.reqhilight td.label p {color:orange;}
p.req {font-size:.85em; background-color:orange; color:white; padding:0 2px;}

/* Text field formatting */
input.textfield {font-family:Arial, Helvetica, sans-serif;}
input.standard {width:280px;}
input.large {width:380px;}
input.title, p.title {font-size:1.8em; letter-spacing:-.05em; width:531px;}
input.descr, p.descr {font-size:1.0em; letter-spacing:-.05em;}
input.link, p.link {width:531px;}
input.adkeyword {width:174px;}

/* Text area formatting */
body.editpage textarea {font-family:Arial, Helvetica, sans-serif; font-size:1em;}
textarea.subhead {width:530px; height:4em;}
textarea.bodycontent {width:530px; height:8em;}
textarea.body {width:530px; height:10em;}
textarea.feed {width:430px; height:3em;}
body.editpage textarea.synbody {font-size:0.9em; width:380px; height:9em;}
*html body.editpage textarea.synbody {font-size:0.8em;}
textarea.keywords {width:530px; height:8em;}
textarea.propertyvalue {width:530px;min-height:250px;height:auto !important;height:250px;}

/* Small description text */
p.descr {font-size:.85em; color:gray; padding-bottom:.6em;}
h2 p.descr {font-size:11px; letter-spacing:0; font-weight:normal; padding-bottom:.2em;}
span.descr {font-size:.85em; color:gray;}

/* Image sizes */
img.thumb {vertical-align:middle; border:none; margin-bottom:4px;} /* Standard thumbnail-type image */
img.xsmall {vertical-align:middle; height:35px; border:none; margin-bottom:4px;} /* Small for related photos */
img.thumbnail {vertical-align:middle; max-height:55px; max-width: 250px; *height: 55px; border:none; margin-bottom:4px;} /* For actual thumbnail field */
img.medium {vertical-align:middle; align: left;	 max-height:250px; max-width: 350px; *height: 250px; border:none; margin-bottom:4px;} /* For bigger thumbnails */

/* Text blocks */
div.textblock {padding:.5em; margin-bottom:.5em; background-color:#F4F4F4; min-height:15px;}
textarea.textblockcontent {width:510px;}
div.textblock table {width:100%}
* html .textblock {background-color:#F4F4F4; position: relative; border:1px solid #F4F4F4; height:15px;}

/* Extra types */
div.extratype {padding:0; margin:0;}
div.extratype h5 {padding:.3em}
div.extratype h5.selected {background-color:#EAEAEA;}
div.extratable {padding: 5px 0 .5em 1.65em; margin-bottom:.5em; background-color:#F4F4F4; display:none;}

/* Related Blocks - Dynamic content blocks
----------------------------------------------- */
div.related {margin:0 0 1em; padding:.5em; background-color:#F4F4F4;}
div.related h4 {color:#000; padding-bottom:.4em; padding-top:.4em;}
div.related h4 p.descr {font-size:.78em; font-weight:normal; letter-spacing:0; padding-bottom:0;}

/* Related Celebs */
p.people {padding:.3em; font-weight:bold; background-color:#FFFFFF; margin-bottom:2px;}
a.removelink {font-weight:normal; float:right; text-decoration:none; font-size:.85em;}

/* Related Stories */
table.searchandadd {width:100%;position: relative;}
table.searchandadd td.leftcol {width:55%;}
table.searchandadd td.rightcol {width:45%; padding-left:10px;}
.ie table.searchandadd td.rightcol {padding-left:0;}
input.searchfield {width:160px;}

/* Common search controls above dynamic list */
div.searchcontrols {margin-bottom:5px;}

/* Dynamic list of items */
ul.dynitemlist {list-style:none;}
ul.dynitemlist li {padding:.3em; margin-bottom:2px; background-color:#F4F4F4;}
ul.dynitemlist li:hover {background-color:#fff;}
ul.dynitemlist a.add {float:right; font-size:.8em; background-color:#6C6C6C; color:#fff; text-transform:uppercase; text-decoration:none; padding:1px 2px;}
ul.dynitemlist a.add:hover {background-color:#000;}
ul.dynitemlist a.itemlink {color:#000; text-decoration:none;}
ul.dynitemlist a.itemlink:hover {color:#fff;}
ul.dynitemlist .itemDate {float: right; margin-right: 5px;}
/* List of chosen items */
ul.chosenitems li {background-color:#fff;}
ul.chosenitems li a.itemlink {font-weight:bold; color:#0063DC;}
td.chosenheading {vertical-align:bottom; padding-bottom:5px;}


/* Image Library Page
----------------------------------------------- */
/* Thumbnail */
td.imagethumb img {border:none;}
td.imagethumb img.vertical {height:60px;}
td.imagethumb img.horizontal {width:60px;}
table#episode_list td.imagethumb {text-align:center; padding-left:0; padding-right:0;}
/* Checkboxes */
table#episode_list td.checkselect {padding-left:0; padding-right:0;}
/* Custom Fields */
input.customfield {width:420px;}
body.mainpage table.formtable td.customfield {background:#EAEAEA; padding:5px; margin-bottom:8px}
/* Controls above list for multiple items */
div.listcontrols {padding:10px 0 5px;}


/* Image Selector - Pop up
----------------------------------------------- */
body.imagepopup td.rightcol {width:120px; padding-left:0;}
body.imagepopup div.mainbody {margin:0; padding:0; background-color:#fff;}
body.imagepopup h1 {font-size:1.5em;}
body.imagepopup div.head {background:none; padding:.7em 1em 0; margin:0; height:auto;}
body.imagepopup div.head_fns {margin-top:0; padding:5px 0;}
body.imagepopup td.rightcol h3 {background-color:green; font-size:.9em; text-align:center; padding-left:0; padding-right:0;}

body.imagepopup div.paging {text-align:center; width:546px} /* center paging controls */
body.imagepopup div.listfilter {padding:6px 1em 8px; margin-bottom:0;}  /* extra padding for filter */

/* List Filter Bar */
div.listfilter {background:#EAEAEA url('/limn/includes/images/stripes.gif'); padding:8px; margin-bottom:5px;}
div#filteropen select.sectionselect {width:230px;}
div#filteropen select.field {width:9em;}
div.grouping {padding-top:10px;}
input.valuefield {width:200px}
input.datefield {width:6em}


/* Photo Gallery Edit Page
----------------------------------------------- */
div.photoblock {padding:.3em; margin-bottom:2px; background-color:#F4F4F4;}
div.photoblock table {width:100%;}
div.photoblock img.thumb {margin-bottom:0;}
div.photoblock img.vertical {height:40px;}
div.photoblock img.horizontal {width:40px;}
div.photoblock img.invisible {width:0px;height:0px;}
div.photoblock td.photo {white-space: nowrap; width: 1%; height:40px; padding-right:10px; text-align:center; vertical-align:middle;}
div.photoblock td.descr {vertical-align:middle;}
div.photoblock td.drag {width:3em; vertical-align:middle;}
div.active:hover {background-color:#E0E0E0; cursor:pointer;}

div.photoblock .photoblock-item .drag, div.photoblock .photoblock-item .photo, div.photoblock .photoblock-item .descr { float: left;}
div.photoblock .photoblock-item .drag .handle { position: relative; top: 12px;}
div.photoblock .photoblock-item .photo {white-space: nowrap;}
div.photoblock .photoblock-item .descr { line-height: 40px; vertical-align: middle; margin-left: 5px; }

/*
ul.photoblocks a.add {float:right; font-size:.8em; background-color:#6C6C6C; color:#fff; text-transform:uppercase; text-decoration:none; padding:1px 2px;}
ul.photoblocks a.add:hover {background-color:#000;}
ul.photoblocks a.itemlink {color:#000; text-decoration:none;}
ul.photoblocks a.itemlink:hover {color:#fff;}
*/

/* Log In Page
----------------------------------------------- */
body.login {background:#000 url(/limn/includes/images/blackfade.jpg) bottom left repeat-x; font-size:small; height:100%;}
table.verttable {width:100%; height:100%;}
table.verttable td {vertical-align:middle;}
/* Error page styles */
body.error {background:#000 url(/limn/includes/images/blackfade.jpg) bottom left repeat-x;}
body.error table.verttable {height:100%;}
body.error div.foot {background:none; padding:5em 2em 6em; color:#6C6C6C;}

/* Log in box */
.top_box {background: url('/limn/includes/images/login_box.gif') top left no-repeat; width:309px; margin:0 auto;}
.table_box {margin:5px auto 0; width:309px; background-color:#858585;}
.table_box a {color:#fff;}
.bottom_box {color:black; text-decoration:none; width:309px; height:15px; margin:0 auto; padding:0; display:block; background: url('/limn/includes/images/login_box.gif') bottom; }

table.form_table {margin:0 auto;}
table.form_table td {padding:0 .5em .2em 0; color:#000;}

body.login .form_err {position:static; left:auto; background-color:#858585; color:#21505F; padding:0 0 1em; text-align:center;}

input.bigfield {font-size:medium; padding:.2em; font-family:Arial, Helvetica, sans-serif;}

.help_page {display:none;}
.help_page_show {padding:0 1.5em; margin:0; display:block;}
.help_page p {padding:0 0 .7em 0;}


/*-----------------------------------------------
 Old styles - styles that apply only to old HTML wireframes. Can be safely deleted.
----------------------------------------------- */
div.controls span.fngroup {border-left:1px #ccc solid; padding:0 .6em .1em;}
div.controls span.first {border:none; padding-left:0;}
table#episode_list th input {font-size:.7em;}
a.small {font-size:1.1em; width:10em;}
p.appear {padding-bottom:.5em;}
td.nolist {padding-left:0;}
td.nolist div.configbar {width:auto;}
div.filter {background-color:#D5D5D5; padding:7px; margin:10px 0;}
input.order {width:1.5em; font-family:Arial, Helvetica, sans-serif; font-size:1em;}
div.configinfo {background-color:#FFFFDD; border:#FFD26A 1px solid;}


/* Royce's additions
----------------------------------------------- */
#searchIndicator {float: left; width: 16px; height: 16px; margin: 2px 0 0 4px; background: url(/limn/includes/images/indicator.gif);}
.imageFloat {float:left;}
#searchByDate, #searchByDate div {display: inline; float: left;}
#searchByDate .dateLabel {margin-top: 3px;}
#eventDateContainer, #eventTimeContainer,#publishDateContainer, #publishTimeContainer, #startDateContainer, #startTimeContainer, #endDateContainer, #endTimeContainer {float: left; margin-right: 5px;}
#filterFields select, #filterFields input, #filterFields div, .filterselect {float: left}

/* css class to handle E! logo on left nav  */
.homeLink{
	position:relative;
	right:8px;
}

/* this handles the alignment of the text for the radio buttons and checkboxes */
div.categories div { min-height: 20px; height: auto !important; height: 20px; }
div.categories div input { vertical-align:bottom; }
* html div.categories div input { vertical-align:auto; }

/* this is for the static link in Edit Snipe */
#staticLinkDiv { padding-top: 5px; }

/* css class to handle ad sponsorship page */
.ad_sponsorship tr{height:30px;}
.ad_sponsorship td{vertical-align:bottom;width:25%;}
.ad_sponsorship h2 {letter-spacing:-.06em; font-size:1.7em;padding: 0pt 0pt 0pt;}

/* css for random top center create new button */
div.topcontrols {
    border-top: 1px solid #C0C0C0;
    padding: 2em;
    margin: 0;
    text-align: center;
    background-color: #2D2D2D;
    color: #ccc;
}

a.btnsave {
    padding: .3em .5em;
    margin: .2em;
    text-align: left;
    border: 1px solid #ccc;
    background: #777777;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: -.06em;
}

a.btnsave:hover {
    background: #000;
}

a.btnsave.links {
    margin: 0 .2em;
    border: #575757 1px solid;
    color: #fff;
    padding: 3px 5px;
    text-decoration: none;
    float: right;
}

a.btnsave.links:hover {
    background-color: #000;
}

.qtip-content { font-size: 80%; }
.qtip-content h4, .qtip-content h5 { color: #000000;}

/* jquery.autocomplete */

.ac_results {
	padding: 0px;
	border: 1px solid #d2d2d2;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results * {
	font-family:Arial, Verdana, Helvetica, sans-serif;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 10px 8px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
	border: solid #d2d2d2;
	border-width: 0px 0px 1px 0px;
}

.ac_results li:last-child { border-width: 0px; }

.ac_loading {
	background: url(/limn/includes/images/fastFind-indicator.gif) right center no-repeat;*/
}

.ac_odd {
}

.ac_over {
	background-color: #eee;
}

.ac_results .title, .dynitemlist title { font-weight: bold; }
.ac_results .types, .ac_results .displayName, .ac_results .missingDisplayName, .ac_results .aliases, .ac_results .relatedTo,
.dynitemlist .types, .dynitemlist .displayName, .dynitemlist .missingDisplayName, .dynitemlist .aliases, .dynitemlist .relatedTo { font-size: 10px; color: #707076; }
.ac_results .missingDisplayName, .dynitemlist .missingDisplayName { color: #b81323; }
.ac_results .displayName, .ac_results .missingDisplayName, .ac_results .aliases, .ac_results .relatedTo,
.dynitemlist .displayName, .dynitemlist .missingDisplayName, .dynitemlist .aliases, .dynitemlist .relatedTo { display: block; line-height: 9px; }

.add-new li.add-new-trigger { color: #0F6CDE; text-decoration: underline; cursor: pointer; }

li.gallery_entry_category { display: block; list-style: none; background-color: #e6e5e6 !important; padding: 10px 8px !important; margin-bottom: 1px !important; width: 80%; height: auto; position: relative; }
	li.gallery_entry_category .removelink { display: block; background: url(/limn/includes/images/icon_delete.gif) center center no-repeat; width: 9px; height: 100%; vertical-align: middle; position: absolute; top: 0px; right: -13px; cursor: pointer; }

table#galleryItemCategories { width: 100%; }